<nb-card>
    <nb-card-header>Add Language</nb-card-header>
  
    <nb-card-body>
      <nb-select placeholder="Select Language" [(selected)]="selectedLanguage">
        <!-- <nb-option [value]="0">Pages</nb-option> -->
        <nb-option *ngFor="let lang of languages" [value]="lang">{{
            lang.language
        }}</nb-option>
      </nb-select>
    </nb-card-body>
    <nb-card-footer class="dialog-footer">
      <button nbButton outline size="small" status="danger" (click)="close()">Close</button>
      <button nbButton outline size="small" status="success" (click)="addLanguage()">Add Language</button>
    </nb-card-footer>
  </nb-card>
  